{% load static %}
<!--Navbar-->
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
        <!-- Main Content -->
        <div class="overview-boxes">
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Order</div>
              <div class="number">{{formatted_order_count}}</div>

            </div>
            <i class='bx bx-cart-alt cart'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Products</div>
              <div class="number">{{formatted_product_count}}</div>

            </div>
            <i class='bx bxs-cart-add cart two'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Staff Members</div>
              <div class="number">{{formatted_staff_count}}</div>

            </div>
            <i class='bx bx-cart cart three'></i>
          </div>
          <div class="box">
            <div class="right-side">
              <div class="box-topic">Total Stock</div>
              <div class="number">{{total_stock_quantity}}</div>
            </div>
            <i class='bx bxs-cart-download cart four'></i>
          </div>
        </div>
          <!-- End Main Content -->        
{% endif %}
<!--End Navbar-->