{% extends 'partials/base.html' %}
{% block title %} Image Database {% endblock title %}
{% block content %}
  <div class="container">
    <h1>Image Gallery</h1>
    <hr>
    <body>
      
      <div class="row">
        {% for image_path in image_paths %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <img src="{{ image_path }}" class="card-img-top" alt="Image">
            
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
    {% endblock %}