{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
{% block dashboard-title %} Dashboard {% endblock dashboard-title %}
{% block content %} 

{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<link rel="stylesheet" href="{% static 'style.css' %}" />

<!--Graphs-->
<div class="sales-boxes">
  <div class="recent-sales box">
    <div class="title">Low Stock Products</div>
    <hr>
    <div class="sales-details">
      <ul class="details">
          <li class="topic">ID</li>
          {% for product in critical_products %}
          <li>{{product.id}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Product</li>
        {% for product in critical_products %}
          <li>{{product}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Quantity</li>
        {% for product in critical_products %}
          <li>{{product.quantity}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Price</li>
        {% for product in critical_products %}
          <li>Rs. {{product.product_price}}</li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    <div class="title">Expiring Products</div>
    <hr>
    <div class="sales-details">
      <ul class="details">
          <li class="topic">ID</li>
          {% for product in expiring_products %}
          <li>{{product.id}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Product</li>
        {% for product in expiring_products %}
          <li>{{product}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Quantity</li>
        {% for product in expiring_products %}
          <li>{{product.quantity}}</li>
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Expiration Dates</li>
        {% for product in expiring_products %}
          <li>{{product.expiration_date}}</li>
        {% endfor %}
      </ul>
    </div>
    <hr>
    
  </div>
    <div class="top-sales box">
      <div class="title">Top 10 Ordered Products</div>
      <hr>
      <div class="sales-details">
        <ul class="details">
          <li class="topic">#</li>
          {% for order_name in product_most_orders_names %}
          
          <li>{{forloop.counter }}</li>
          
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Product</li>
          {% for order_name in product_most_orders_names %}
            
            <li>{{order_name}}</li>
            
          {% endfor %}
        </ul>
        <ul class="details">
        <li class="topic">Orders</li>
        {% for order_data in product_most_orders_data %}
          
          <li>{{order_data}}</li>
          
        {% endfor %}
        </ul>
      </div>
      <hr>
    
    </div>
  </div>
<!--End Graphs-->

{% else %}

{% include 'dashboard/staff_index.html' %}

{% endif %}

 {% endblock content  %} 
