{% extends 'partials/base.html' %}
{% block title %} Orders {% endblock title %}
{% block dashboard-title %} Orders {% endblock dashboard-title %}

{% block content %} 

<div class="sales-boxes">
    <div class="recent-sales box">
      <div class="title">Orders Remaining</div>
      <div class="sales-details">
        <ul class="details">
            <li class="topic">#</li>
            {% for order in orders %}
            
            <li>{{forloop.counter }}</li>
            
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Product</li>
          {% for order in orders %}
            
            <li>{{order.product.name}}</li>
            
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Quantity</li>
          {% for order in orders %}
            
            <li>{{order.quantity}}</li>
            
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Date</li>
          {% for order in orders %}
            
            <li>{{order.date}}</li>
            
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Order By</li>
          {% for order in orders %}
            
            <li>{{order.staff.username}}</li>
            
          {% endfor %}
        </ul>
      </div>
    </div>

x



<!--End Table-->
{% endblock content %}