{% extends 'partials/base.html' %}
{% load static%}
{% block title %} Image Processing {% endblock %}
{% block content %} 
    <link rel="stylesheet" href="{% static 'style.css' %}" />
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-6 offset-md-3">
                <h2 class="page-title"><center>Images Processed</center></h2>
                <hr/>
                <div class="alert alert-success">
                    <center><h4>Inventory is Updated </h4></center>
                </div>
                <a class="btn btn-outline-info offset-md-4"  href = "{% url 'dashboard-home' %}" role="button">Back to Home</a>

            </div>
           

        </div>
    </div>
</div>

{% endblock %}