{% extends 'partials/base.html' %}
{% block title %} Edit Product {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="form-product">
<div class="container-product">
    <div class="forms">
        <div class="form login">
            <span class="title">Edit Item</span>
            <form method = "POST">
                {% csrf_token %}
                {{update_form|crispy}}
                <div class="buttons">
                    <a href=" {% url 'dashboard-product' %}">Cancel</a>
                    <input type="submit" value= 'Confirm'>
                </div>
                
            </form>
    


</div>
</div>






{% endblock %}