{% extends 'partials/base.html' %}
{% block title %} Products {% endblock title %}
{% block dashboard-title %} Products {% endblock dashboard-title %}
{% block content %}
{% load crispy_forms_tags %}

<div class="sales-boxes">
  <div class="recent-sales box">
    <div class="title">Products Remaining</div>
    <div class="sales-details">
      <ul class="details">
          <li class="topic">ID</li>
          {% for item in items %}
            
          {% if item.is_available == True %}
          <li>{{item.id}}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Product</li>
        {% for item in items %}
        
          {% if item.is_available == True %}
          <li>{{item.name}}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Quantity</li>
        {% for item in items %}
        
          {% if item.is_available == True %}
          <li>{{item.quantity}}</li>
          {% endif %}
        {% endfor %}
      </ul>
      
      <ul class="details">
        <li class="topic">Price</li>
        {% for item in items %}
        
          {% if item.is_available == True %}
          <li>{{item.product_price}}</li>
          {% endif %}

        {% endfor %}
      </ul>
      <ul class="details">
        <li class="topic">Activity</li>
        {% for item in items %}
        
          {% if item.is_available == True %}
          <div class="btns-product">
            <a href="{% url 'dashboard-product-update' item.id %}">Edit</a>
            <a href="{% url 'dashboard-product-delete' item.id %}">Delete</a>
          </div>

          {% endif %}
        {% endfor %}
      </ul>
    </div>

<hr>

    <!--Product Delivered-->
      <div class="title">Products Delivered</div>
      <div class="sales-details">
        <ul class="details">
            <li class="topic">ID</li>
            {% for item in items %}
              
            {% if item.is_available == False %}
            <li>{{item.id}}</li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Product</li>
          {% for item in items %}
          
            {% if item.is_available == False %}
            <li>{{item.name}}</li>
            {% endif %}
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Quantity</li>
          {% for item in items %}
          
            {% if item.is_available == False %}
            <li>{{item.quantity}}</li>
            {% endif %}
          {% endfor %}
        </ul>
        
        <ul class="details">
          <li class="topic">Price</li>
          {% for item in items %}
          
            {% if item.is_available == False %}
            <li>{{item.product_price}}</li>
            {% endif %}
  
          {% endfor %}
        </ul>
        <ul class="details">
          <li class="topic">Activity</li>
          {% for item in items %}
          
            {% if item.is_available == False %}
            <div class="btns-product">
              <a href="{% url 'dashboard-product-update' item.id %}">Edit</a>
              <a href="{% url 'dashboard-product-delete' item.id %}">Delete</a>
            </div>
  
            {% endif %}
          {% endfor %}
        </ul>
      </div>

  </div>
      <div class="top-sales box">
      <div class="title">Add Product</div>
      <ul class="top-sales-details">
        <li>
          <form method="POST">
            {% csrf_token %}
            {{ product_form|crispy }}
            <div class="buttons">
              <input type="submit" value="Add Product">

            </div>
            
          </form>
        </li>     
               
          
        </ul>
      </div>
    </div>
  </div>

  


<!--End Table-->
{% endblock content %}