{% extends 'partials/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %} 
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="{% static 'style.css' %}" />
<section class="main">
    <div class="profile-card">
      <div class="image">
        <img src= {{user.profile.image.url}} alt="Profile Picture" class="profile-pic">
      </div>
      <div class="data">
        <h2>{{user.username}}</h2>
        <span>{{user.email}}</span>
      </div>
      <div class="row">
        <div class="info">
          <h3>Phone</h3>
          <span>{{user.profile.phone}}</span>
        </div>
        <div class="info">
          <h3>Address</h3>
          <span>{{user.profile.address}}</span>
        </div>
      </div>
      <div class="buttons">
        <a href="{% url 'dashboard-home' %}" class="btn"> Go To Dashboard</a>
      </div>
    </div>
  </section>

{% endblock %}